@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
    --font-primary: "Poppins", sans-serif;
}

.font-playfair {
    font-family: "Playfair Display", serif;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-primary);
    overflow-x: hidden;
    overflow-y: visible;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}
.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes slide-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-infinite-scroll {
    animation: slide-infinite 20s linear infinite;
    display: flex;
    width: fit-content;
}

